.ProfilePicture {
  width: 100%;
  border: 2px solid black;
  display: flex;
  box-sizing: border-box;
}

/* Mobile */
@media only screen and (max-width: 46rem) {
  .ProfilePictureImage {
    width: 30%;
  }
}

/* Larger than mobile */
@media only screen and (min-width: 46rem) {
}
