@use "../../styles/card.module.scss";

.Notification {
  @extend .DearBluenoCard;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.NotificationHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NotificationHeaderLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.NotificationImageBox {
  border: 2px solid black;
  border-radius: 0.2rem;
  line-height: 0;
}

.NotificationContext {
  color: gray;
}
