.Notification {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  border: 0.1rem solid rgba(0, 0, 0, 1);
  box-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 1);
}

.NotificationHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.NotificationImageBox {
  border: 2px solid black;
  line-height: 0;
}

.NotificationContext {
  color: gray;
}
