.CommentButton {
  margin-left: 0.4rem;
  font-size: 0.7rem;
  color: #4e3629;
  display: inline-block;
  user-select: none;
  margin-right: 0.4rem;
}

.CommentButton:hover {
  text-decoration: underline;
  cursor: pointer;
}
