* {
  margin: 0;
  font-variant-ligatures: none;
}

body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7f5743;
  -ms-overflow-style: none;
}

html {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
  font-family: "Inconsolata", monospace;
  background-color: #f3e3ca;
}

button {
  font-family: "Inconsolata", monospace;
}

/* Extra extra small devices (phones, 400px and down) */
@media only screen and (max-width: 46rem) {
  body {
    font-size: 0.9rem;
  }
}

/* Extra small devices (phones, 400px and up) */
@media only screen and (min-width: 46rem) {
  body {
    font-size: 1rem;
  }
}
