* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Fira Code", monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: #d5ebff;
}

input[type="text"] {
  appearance: none;
}

textarea {
  appearance: none;
}
