* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Fira Code", monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5ebff;
}

input[type="text"] {
  appearance: none;
}

textarea {
  appearance: none;
}

/* Extra extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  body {
    font-size: 0.8rem;
  }
}

/* Extra small devices (phones, 400px and up) */
@media only screen and (min-width: 400px) {
  body {
    font-size: 0.8rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 0.9rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 0.9rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 1rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 1rem;
  }
}
