.ModeratorSelection {
  display: flex;
  width: 100%;
  gap: 1rem;
  animation: PostAppear;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  padding: 1rem;
  background-color: #f3e3ca;
  box-shadow: -0.2rem 0.2rem 0rem 0.03rem rgba(0, 0, 0, 1);
  border: 0.1rem solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
}

@keyframes ModeratorSelectionAppear {
  0% {
    box-shadow: none;
    transform: translate3d(-0.2rem, 0.2rem, 0);
  }
  100% {
    box-shadow: -0.2rem 0.2rem 0rem 0.03rem rgba(0, 0, 0, 1);
    transform: none;
  }
}

/* Mobile */
@media only screen and (max-width: 46rem) {
  .ModeratorSelection {
    box-shadow: -0.1rem 0.1rem 0rem 0.03rem rgba(0, 0, 0, 1);
  }
}

.ModeratorSelectionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 1px solid black;
  box-shadow: -0.1rem 0.1rem 0rem 0.03rem rgba(0, 0, 0, 1);
  cursor: pointer;
  background-color: #f3e3ca;
  height: 3rem;
  font-size: 1rem;
}

.ModeratorSelectionButton:active {
  transform: translate3d(-0.1rem, 0.1rem, 0);
  box-shadow: none;
}

.Selected {
  transform: translate3d(-0.1rem, 0.1rem, 0);
  box-shadow: none;
}
