.PostBody {
  margin: 0;
  margin-bottom: 0.6rem;
}

.PostBodyHidden {
  margin: -0.3rem;
}

.PostBodyTextHidden {
  padding: 0.4rem;
  white-space: pre-line;
  overflow-wrap: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}

.PostBodyText {
  white-space: pre-line;
  overflow-wrap: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}


.ContentContainer {
  position: relative;
}

.Foreground {
  position: absolute;
  backdrop-filter: blur(4px);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  cursor: pointer;
}

.Foreground:hover {
  backdrop-filter: blur(3.2px);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 46rem) {
  .PostBody {
    margin-bottom: 0.6rem;
    margin-top: 0.2rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 46rem) {
  .PostBody {
    margin-bottom: 0.3rem;
    margin-top: 0.2rem;
  }
}
