.PostBody {
  margin: 0;
  margin-bottom: 0.6rem;
}

.PostBodyHidden {
  margin: -0.3rem;
  margin-bottom: 0.1rem;
}

.PostBodyText {
  margin: 0 0.1rem;
}

.PostBodyTextHidden {
  padding: 0.4rem;
}

.ContentContainer {
  position: relative;
}

.Foreground {
  position: absolute;
  backdrop-filter: blur(4px);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  cursor: pointer;
}

.Foreground:hover {
  backdrop-filter: blur(3.2px);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .PostBody {
    margin-bottom: 0.3rem;
    margin-left: 0.1rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
