.CommentHeader {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  grid-area: header;
  flex-wrap: wrap;
}

.CommentAuthor {
  font-weight: 600;
  font-size: 0.8rem;
}

.CommentDate {
  color: gray;
  font-size: 0.8rem;
  user-select: none;
  cursor: default;
}

.ExpandThreadButton {
  font-size: 0.8rem;
  margin-right: 1rem;
  color: gray;
  display: inline-block;
}

.ExpandThreadButton:hover {
  text-decoration: underline;
  cursor: pointer;
}
