.NewCommentBoxFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.PopupButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.PopupAction {
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  appearance: none;
  background: transparent;
  border: none;
  font-size: inherit;
  padding: 0;
}

.PopupAction:hover {
  cursor: pointer;
}

.AnonymousToggle {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.AnonymousIcon {
  margin-right: 0.5em;
}

.AnonymousConfirmationBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.CommentFooterButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.CancelConfirmationBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CancelConfirmationOptions {
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

.CancelConfirmationText {
  text-align: center;
}
