@use "../../styles/card.module.scss";

.ProfileBox {
  @extend .DearBluenoCard;
  display: flex;
  gap: 1rem;
  background-color: #ffffff;
  border: 0.1rem solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  margin-bottom: 0.2rem;
}

.HomeButtonProfile {
  font-size: 1.8rem;
  color: black;
  user-select: none;
}

.LeftColumn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.RightColumn {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

/* Mobile */
@media only screen and (max-width: 46rem) {
  .ProfileBox {
    margin: 0.5rem;
    margin-top: 0;
    width: calc(100% - 1rem);
    flex-direction: column;
    box-shadow: -0.1rem 0.1rem black;
  }
}

/* Larger than mobile */
@media only screen and (min-width: 46rem) {
  .ProfileBox {
    width: calc(100% - 0.2rem);
    box-shadow: -0.2rem 0.2rem black;
    flex-direction: row;
  }
  .LeftColumn {
    flex: 1;
    height: 100%;
  }
}

.ProfileButton {
  width: 100%;
  border-radius: 0;
  border: 1px solid black;
  color: black;
  background-color: white;
  box-shadow: -0.1rem 0.1rem 0 0 rgba(0, 0, 0, 1);
}

.ProfileButton:active {
  background-color: #ccc;
  transform: translate3d(-0.1rem, 0.1rem, 0);
  box-shadow: none;
}

.ProfileButton:hover {
  cursor: pointer;
}

.SaveAndCancelButtons {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

.ProfileComments {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
  margin: -1rem;
  margin-bottom: -0.75rem;
}

@media only screen and (min-width: 46rem) {
  .ProfileComments {
    height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: -0.5rem;
    margin-bottom: -1rem;
  }
}

.ProfileCommentsHeader {
  font-size: 1.2rem;
}
