.ProfileBox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: -0.2rem 0.2rem 0rem 0.03rem rgba(0, 0, 0, 1);
  border: 0.1rem solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
}

.HomeButtonProfile {
  font-size: 1.8rem;
  color: black;
  user-select: none;
}

.LeftColumn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex: 1;
  height: 100%;
}

.RightColumn {
  display: flex;
  flex: 2;
  height: 100%;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ProfileBox {
    margin: 0.5rem;
    margin-left: 0.5rem;
    width: calc(100% - 1rem);
  }
  .RightColumn {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .ProfileBox {
    width: 35rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ProfileBox {
    width: 45rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.ProfileButton {
  width: 100%;
  border-radius: 0;
  border: 1px solid black;
  color: black;
  background-color: white;
  box-shadow: -0.1rem 0.1rem 0rem 0.03rem rgba(0, 0, 0, 1);
  font-family: "Fira Code", monospace;
}

.ProfileButton:active {
  background-color: #ccc;
  transform: translate3d(-0.1rem, 0.1rem, 0);
  box-shadow: none;
}

.SaveAndCancelButtons {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

.ProfileComments {
  display: flex;
  overflow: scroll;
  max-height: 30rem;
  flex-direction: column;
  gap: 0.8rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.ProfileCommentsHeader {
  font-size: 1.2rem;
}
