.EventStagesDisplay {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SingleStage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 0.5rem;
}

.StageLine {
  width: 100%;
  height: 5px;
  background-color: gray;
}

.StageTitle {
  color: gray;
}

.Selected {
  color: black;
  background-color: black;
}
