.ConsentBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-top: 0.2rem;
  user-select: none;
}

.ConsentText {
  font-size: 0.8rem;
}

.ConsentBar:hover {
  cursor: pointer;
}