.GoogleFormOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-top: 0.2rem;
  user-select: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 46rem) {
  .GoogleFormOptionText {
    font-size: 3.5vw;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 46rem) {
  .GoogleFormOptionText {
    font-size: 0.9rem;
  }
}

.GoogleFormOption:hover {
  cursor: pointer;
}
