.SubmitBox {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-bottom: 0.6rem;
  background-color: #ffffff;
  box-shadow: -0.2rem 0.2rem 0rem 0.03rem rgba(0, 0, 0, 1);
  border: 0.1rem solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
}

.PreSubmitContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.PostSubmitContent {
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ReturnText {
  text-align: center;
}

#TextBox {
  resize: none;
  flex-grow: 3;
  padding: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Fira Code", monospace;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .SubmitBox {
    margin: 0.5rem;
    margin-left: 0.7rem;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .SubmitBox {
    width: 35rem;
    height: 30rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .SubmitBox {
    width: 45rem;
    height: 30rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

#TextBox:focus {
  outline: none;
}

.SubmitBoxHeaderText {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  margin-bottom: 1rem;
}

.Submit {
  font-family: "Fira Mono", monospace;
  padding-right: 0.5rem;
}

.ConsentAndSubmit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

.Submit:hover {
  cursor: pointer;
  text-decoration: underline;
}
