.AboutPagePost {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.5rem;
  padding: 2rem;
  background-color: #ffffff;
  border: 0.1rem solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  gap: 1rem;
}

.AboutPageSection {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.EmailLink {
  color: black;
  text-decoration: underline;
}

.EmailLink:hover {
  cursor: pointer;
}

.Collapsible__trigger {
  padding-bottom: 0.5%;
  font-weight: 600;
  display: block;
  position: relative;
  padding-left: 2.5%;
  user-select: none;
}

.Collapsible__trigger {
  cursor: pointer;
  display: block;
}

.Collapsible__trigger::after {
  color: rgba(0, 0, 0, 1);
  content: ">";
  position: absolute;
  right: 98.5%;
  bottom: 18%;
  display: block;
  transition: transform 100ms;
}

.Collapsible__trigger.is-open::after {
  transform: rotateZ(90deg);
}

.PrivPolicy {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.FAQAnswer {
  margin-bottom: 0.3rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 46rem) {
  .AboutPagePost {
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
    box-shadow: -0.1rem 0.1rem rgba(0, 0, 0, 1);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 46rem) {
  .AboutPage {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .AboutPagePost {
    margin-left: auto;
    margin-right: auto;
    width: 45rem;
    box-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 1);
  }
}
