.AboutPagePost {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.5rem;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: -0.2rem 0.2rem 0rem 0.03rem rgba(0, 0, 0, 1);
  border: 0.1rem solid rgba(0, 0, 0, 1);
  box-sizing: border-box;
  gap: 1rem;
}

.AboutPageSection {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.EmailLink {
  color: black;
  text-decoration: underline;
}

.EmailLink:hover {
  cursor: pointer;
}

.Collapsible__trigger {
  padding-bottom: 0.5%;
  font-weight: 600;
  display: block;
  position: relative;
  padding-left: 2.5%;
  user-select: none;
}

.Collapsible__trigger {
  cursor: pointer;
  display: block;
}

.Collapsible__trigger::after {
  color: rgba(0, 0, 0, 1);
  content: ">";
  position: absolute;
  right: 98.5%;
  bottom: 18%;
  display: block;
  transition: transform 100ms;
}

.Collapsible__trigger.is-open::after {
  transform: rotateZ(90deg);
}

.FAQAnswer {
  margin-bottom: 0.3rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .AboutPagePost {
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .AboutPagePost {
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .AboutPagePost {
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .AboutPagePost {
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .AboutPagePost {
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }
}
