.ReactionBar {
  display: flex;
  box-sizing: border-box;
}

.CommentReactionBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ReactText {
  font-size: 0.7rem;
  color: #4e3629;
  user-select: none;
  display: inline-block;
  margin-right: 0.4rem;
  user-select: none;
}

.ReactText:hover {
  text-decoration: underline;
  cursor: pointer;
}
