@use "../../../../styles/card.module.scss";

.ProfileHoverCard {
  @extend .DearBluenoCard;
  // flex-direction: row;
  display: flex;
  padding: 0.8rem;
  gap: 0.5rem;
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 1rem;
}

.HoverCardSideCol {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: x-small;
  gap: 0.3rem;
}

.HoverCardName {
  font-weight: bold;
  font-size: medium;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.HoverCardName:hover {
  text-decoration: underline;
  text-underline-offset: 0.075rem;
}

.HoverCardImage {
  box-sizing: border-box;
  display: flex;
  border: 1px solid black;
  border-radius: 0.2rem;
  cursor: pointer;
}

.SocialIcon {
  width: 20px;
  height: 20px;
  color: black;
  cursor: pointer;
}

.SocialBar {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
