.EventCardButton {
  width: 100%;
  display: flex;
  flex-direction: row;
  appearance: none;
  -moz-appearance: none;
  background-color: #cfd7e1;
  border: none;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;

  &:active {
    background-color: #b3b9c0;
  }
}
