.NewEventButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 100%;
  padding: 0 3rem;
  height: 3rem;
  background-color: white;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  //   @media screen and (max-width: 87rem) {
  //     span {
  //       display: none;
  //     }
  //     width: 3.2rem;
  //     padding: 0.5rem;
  //   }
}

.NewEventButtonLink {
  text-decoration: none;
  user-select: none;
}
