@use "../../styles/card.module.scss";

.VerifiedBrown {
  margin-left: 0.5rem;
  color: #97592c;
}

.Pinned {
  margin-left: 0.5rem;
  color: #d34b33;
}

/* Mobile */
@media only screen and (max-width: 46rem) {
}

/* Larger than mobile */
@media only screen and (min-width: 46rem) {
  .PostFooter {
    margin-top: 1rem;
  }
}

.PostHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: -0.15rem;
}

.NumberAndWarning {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.PostHeaderRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.IconButton {
  cursor: pointer;
}

.PostFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  min-height: 1.2rem;
  gap: 0.4rem;
}

.PostBody {
  margin: 0;
}
