.CommentSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
  padding: 0.1rem;
  border-top: 0.01rem solid #ccc;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}
