@use "../../../styles/card.module.scss";

.ContextThread {
  @extend .DearBluenoCard;
}

@keyframes ContextThreadAppear {
  0% {
    opacity: 1;
    box-shadow: none;
    transform: translate3d(-0.2rem, 0.2rem, 0);
  }
  100% {
    opacity: 1;
    box-shadow: -0.2rem 0.2rem 0rem 0.03rem rgba(0, 0, 0, 1);
    transform: none;
  }
}

.ContextThreadHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.ContextThreadParentPicture {
  width: 1.2rem;
  height: 1.2rem;
  line-height: 0;
}

.ContextThreadHorizontalLine {
  width: 2rem;
  height: 0.1rem;
  background-color: #ccc;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.8rem;
}

.ContextThreadVerticalLine {
  position: absolute;
  width: 0.1rem;
  height: 0.8rem;
  background-color: #ccc;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
}

.ContextThreadReplyAuthor {
  font-weight: 600;
  font-size: 0.75rem;
  color: black;
}

.ContextThreadPostNumber {
  font-weight: 600;
  font-size: 0.8rem;
  color: black;
}

.ContextThreadPostContent {
  font-size: 0.8rem;
  color: black;
}

.ApproveOrDenyContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ContextThreadLink {
  color: black;
  text-decoration: none;
}

.ContextThreadModeratorLinkContainer {
  margin-top: 0.5rem;
}

.ContextThreadModeratorLink {
  text-decoration: underline;
}

.ContextThreadReplyText {
  font-size: 0.8rem;
  color: black;
}

.ApproveButton {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  width: 45%;
}

.DenyButton {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  width: 45%;
}
