.ReactionBar {
  display: flex;
  box-sizing: border-box;
  gap: 0.5rem;
  min-height: 1.35rem;
  align-items: center;
}

.CommentReactionBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.IconButton {
  cursor: pointer;
}
