.ReactionButton {
  display: flex;
}

.PostReactionButton {
  gap: 0.15rem;
}

.CommentReactionButton {
  gap: 0.1rem;
  font-size: 0.8rem;
}

.Reacted {
  font-weight: bold;
  color: #164b7b;
}

/* Extra extra small devices (phones, 400px and down) */
@media only screen and (max-width: 46rem) {
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 46rem) {
}
