.ReactionBar {
  display: flex;
  box-sizing: border-box;
  min-height: 1.35rem;
  align-items: center;
}

.PostReactionBar {
  gap: 0.6rem;
}

.CommentReactionBar {
  gap: 0.5rem;
}

.IconButton {
  cursor: pointer;
}
