.CommentSection {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
  /* border: 0.01rem solid black; */
  position: relative;
  padding: 0.1rem;
  border-top: 0.01rem solid #ccc;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .CommentSection {
    padding-top: 0.8rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
