.Thread {
  margin-left: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1.5rem calc(100% - 2.8rem);
  grid-template-rows: 1.5rem max-content;
  gap: 0px 0px;
  grid-template-areas:
    "pic header"
    "collapser thread";
  column-gap: 0.4rem;
  row-gap: 0.4rem;
}

.Comment {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.CommentAuthor {
  font-weight: 600;
  margin-right: 1rem;
}

.CommentBody {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.CommentDate {
  color: gray;
  font-size: 0.8rem;
}

.CommentHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: header;
}

.ProfilePicture {
  background-color: #c0c0c0;
  border-radius: 0.2rem;
}
