.ThreadGrid {
  display: grid;
  grid-template-columns: 1.5rem calc(100% - 2.8rem);
  grid-template-rows: 1.5rem max-content;
  gap: 0px 0px;
  grid-template-areas:
    "pic header"
    "collapser thread";
  column-gap: 0.4rem;
  row-gap: 0.4rem;
}

.Comment {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.CommentBody {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.Thread {
  margin-top: 1rem;
}

.TopLevelThread {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}

.CommentFooter {
  display: flex;
  flex-direction: row;
}
