@use "./TextSubmit.module.scss";

.SubmitBox {
  height: unset;
}

.SubmitBoxContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
}

.ImageUploadContainer {
  min-height: 20rem;
}

.ImageSubmitBoxFooter {
  @extend .SubmitBoxFooter;
  justify-content: flex-end;
  margin: 0;
}

.NotLoggedIn {
  @extend .DearBluenoCard;
  padding: 2rem 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  transition: height 0.3s ease-out;
  overflow: hidden;
  text-align: center;
  transform: translate(0, 0);
}

.LoginButton {
  width: 8rem;
  height: 2rem;
  border: none;
  background-color: rgb(230, 235, 240);
  border-radius: 0.2rem;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: rgb(220, 225, 230);
  }
}
