.ImageUpload {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem dashed #abc;
  border-radius: 0.3rem;
  height: 100%;
  box-sizing: border-box;
}

.ImageInput {
  display: none;
}

.UploadButton {
  appearance: none;
  border: 0.1rem solid #abc;
  border-radius: 0.3rem;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  color: #abc;
  max-height: 5rem;
  &:hover {
    border-color: #789;
    color: #789;
  }
  cursor: pointer;
}

.UploadButtonText {
  font-size: 1.2rem;
  font-weight: 600;
  color: inherit;
}

.UploadImageIcon {
  color: inherit;
}

.UploadedImageContainer {
  display: flex;
  justify-content: center;
}

.UploadedImage {
  max-height: 500px;
  object-fit: contain;
  border: 0.1rem solid #789;
  border-radius: 0.2rem;
  max-width: 100%;
}

.ImageUploadBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #789;
}
