.LikeCommentBar {
  margin-left: 0.9rem;
  display: flex;
  flex-direction: row;
}

.LikeText {
  font-size: 0.8rem;
  color: #8e8e8e;
}

.LikeText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.LikeCommentImage {
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 0.6rem;
  cursor: pointer;
}

.LikeCommentBarIcons {
  display: flex;
  flex-direction: row;
}
