.PostReactionButtonImage {
  width: 1.8rem;
  height: 1.8rem;
  float: left;
}

.PostReactionButtonImage:hover {
  cursor: pointer;
}

.PostReactionButtonCount {
  margin-top: 0.3rem;
  float: left;
  margin-right: 0.5rem;
}

.CommentReactionButtonImage {
  width: 1.1rem;
  height: 1.1rem;
  float: left;
}

.CommentReactionButtonImage:hover {
  cursor: pointer;
}

.CommentReactionButtonCount {
  float: left;
  margin-right: 0.4rem;
  font-size: 0.8rem;
}
