.CommentReactionBar {
  display: flex;
  flex-direction: row;
}

.ReactText {
  font-size: 0.8rem;
  color: #8e8e8e;
  user-select: none;
  display: inline-block;
  margin-right: 0.4rem;
}

.ReactText:hover {
  text-decoration: underline;
  cursor: pointer;
}
