.Header {
  animation: HeaderAppear;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-sizing: border-box;
  box-shadow: -0.2rem 0.2rem 0rem 0.03rem rgba(0, 0, 0, 1);
  border: 0.1rem solid rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
}

@keyframes HeaderAppear {
  0% {
    box-shadow: none;
    transform: translate3d(-0.2rem, 0.2rem, 0);
  }
  100% {
    box-shadow: -0.2rem 0.2rem 0rem 0.03rem rgba(0, 0, 0, 1);
    transform: none;
  }
}

.HeaderUserPicture {
  width: 100%;
  height: 100%;
  user-select: none;
}

#HeaderText {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  transform: translateY(0.25rem);
  user-select: none;
}

.LogoImage {
  width: 3rem;
  height: 3rem;
  position: relative;
  user-select: none;
}

.HeaderButtons {
  margin-left: auto;
  display: flex;
  gap: 0.5rem;
}

/* Extra extra small devices (phones, 400px and down) */
@media only screen and (max-width: 600px) {
  .Header {
    margin-top: 0.5rem;
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
    padding: 0.3rem;
    box-shadow: -0.1rem 0.1rem 0rem 0.03rem rgba(0, 0, 0, 1);
    margin-bottom: 0.5rem;
  }
  #HeaderText {
    font-size: 1.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    transform: translateY(0.18rem);
  }
  .LogoImage {
    width: 1.6rem;
    height: 1.6rem;
  }
}

/* Extra small devices (phones, 400px and up) */
@media only screen and (min-width: 600px) {
  .Header {
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
    padding: 0.4rem;
  }
  #HeaderText {
    font-size: 1.8rem;
  }
  .LogoImage {
    width: 2rem;
    height: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Header {
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
    padding: 0.5rem;
  }
  #HeaderText {
    font-size: 1.8rem;
  }
  .LogoImage {
    width: 2.1rem;
    height: 2.1rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Header {
    width: 45rem;
    margin-left: auto;
    padding: 0.6rem;
  }
  #HeaderText {
    font-size: 2.1rem;
  }
  .LogoImage {
    width: 2.2rem;
    height: 2.2rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Header {
    width: 45rem;
    margin-left: auto;
    padding: 0.6rem;
  }
  #HeaderText {
    font-size: 3.2rem;
  }
  .LogoImage {
    width: 2.8rem;
    height: 2.8rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #Header {
    width: 45rem;
    margin-left: auto;
    padding: 0.8rem;
  }
  #HeaderText {
    font-size: 3rem;
  }
  .LogoImage {
    width: 3rem;
    height: 3rem;
  }
}

.PopperContainer {
  background: #fff;
  border: 1px solid black;
  z-index: 1;
  box-shadow: -0.1rem 0.1rem 0rem 0.03rem rgba(0, 0, 0, 1);
}

.PopperContainer[data-show] {
  display: block;
}

.DropdownArrow,
.DropdownArrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
  z-index: -1;
}

.DropdownArrow {
  visibility: hidden;
}

.DropdownArrow::before {
  visibility: visible;
  content: "";
}

.PopperContainer[data-popper-placement^="top"] > .DropdownArrow {
  bottom: -4px;
}

.PopperContainer[data-popper-placement^="top"] > .DropdownArrow::before {
  bottom: -4px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transform: translateY(-0.17rem) rotate(45deg);
}

.PopperContainer[data-popper-placement^="bottom"] > .DropdownArrow {
  top: -4px;
}

.PopperContainer[data-popper-placement^="bottom"] > .DropdownArrow::before {
  top: -4px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  transform: translateY(0.17rem) rotate(45deg);
}

.SubmitDropdownActions {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.ProfileDropdownActions {
  padding: 0.5rem;
}

.DropdownAction {
  color: black;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.DropdownAction:hover {
  text-decoration: underline;
  user-select: none;
}

.RefreshHeaderLink {
  display: flex;
  color: black;
  align-items: center;
  cursor: pointer;
}

