.HeaderButton {
  bottom: 0.6rem;
  right: 0.2rem;
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid rgba(0, 0, 0, 1);
  box-shadow: -0.1rem 0.1rem 0rem 0.03rem rgba(0, 0, 0, 1);
  float: right;
  margin-left: 0.4rem;
  background-color: white;
}

.HeaderButtonImage {
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
}

/* Extra extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  .HeaderButton {
    width: 1.3rem;
    height: 1.3rem;
  }
}

/* Extra small devices (phones, 400px and up) */
@media only screen and (min-width: 400px) {
  .HeaderButton {
    width: 2rem;
    height: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .HeaderButton {
    width: 2.5rem;
    height: 2.5rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .HeaderButton {
    width: 2.5rem;
    height: 2.5rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .HeaderButton {
    width: 3rem;
    height: 3rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .HeaderButton {
    width: 3rem;
    height: 3rem;
  }
}
