.Header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  width: 45rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-sizing: border-box;
  height: 4.9rem;
  box-shadow: -0.2rem 0.2rem 0rem 0.03rem rgba(0, 0, 0, 1);
  border: 0.1rem solid rgba(0, 0, 0, 1);
}

#HeaderText {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 3.2rem;
  width: fit-content;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.LogoImage {
  width: 3rem;
  height: 3rem;
  margin-right: 0.4rem;
  vertical-align: middle;
  bottom: 0.35rem;
  left: 0.4rem;
  position: relative;
}
