.SearchHeaderCover {
  margin-top: 0.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  background: #fff;
  padding: 0.55rem;
  border: 0.1rem solid rgba(0, 0, 0, 1);
  margin-bottom: 1rem;
}

.InputBox {
  border: none;
  width: 89%;
  font-size: large;
}

.CloseButton {
  align-self: center;
  margin-bottom: 0.3rem;
}

/* Extra extra small devices (phones, 400px and down) */
@media only screen and (max-width: 46rem) {
  .SearchHeaderCover {
    width: calc(100% - 1.8rem);
    margin-top: 0.5rem;
    padding: 0.3rem;
    padding-bottom: 0rem;
    margin-bottom: 0.3rem;
    box-shadow: -0.1rem 0.1rem rgba(0, 0, 0, 1);
  }
  .InputBox {
    font-size: 0.8rem;
    padding: 0rem;
    padding-left: 0.2rem;
    margin-bottom: 0.3rem;
  }
}

/* Extra small devices (phones, 400px and up) */
@media only screen and (min-width: 46rem) {
  .SearchHeaderCover {
    width: calc(45rem - 1.27rem);
    box-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 1);
  }
}
