@use "../../styles/card.module.scss";

.pageheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  background-color: #d5ebff;
  min-height: 1.3rem;
  @media screen and (max-width: 30rem) {
    position: fixed;
    width: calc(100vw - 2rem);
    height: 4rem;
    z-index: 1;
    // background: rgba(213, 235, 255, 0.7);
    // backdrop-filter: saturate(180%) blur(20px);
    padding: 0 1rem;
  }
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  user-select: none;
  flex-shrink: 0;
  @media screen and (max-width: 30rem) {
    font-size: 1.6rem;
    margin-top: 0.8rem;
    margin-bottom: 0.6rem;
  }
}

.HeaderAndOptionsButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  @media screen and (max-width: 30rem) {
    gap: 0.5rem;
  }
}

.OptionsButton {
  appearance: none;
  background: none;
  border: none;
  padding: 0.2rem 0.3rem 0rem 0.3rem;
  cursor: pointer;
  &:hover {
    background-color: #bccbdd;
  }
  &:active {
    background-color: #a0b9d4;
  }
  border-radius: 0.2rem;
  margin-left: auto;
}

.Options {
  @extend .DearBluenoCard;
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 1rem;
}
