@use "../../styles/card.module.scss";

.pageheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  background-color: #d5ebff;
  min-height: 1.3rem;
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  user-select: none;
  flex-shrink: 0;
}

.HeaderAndOptionsButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.OptionsButton {
  appearance: none;
  background: none;
  border: none;
  padding: 0.2rem 0.3rem 0.1rem 0.3rem;
  margin-right: 0.2rem;
  cursor: pointer;
  &:hover {
    background-color: #bccbdd;
  }
  &:active {
    background-color: #a0b9d4;
  }
  border-radius: 0.2rem;
}

.Options {
  @extend .DearBluenoCard;
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 1rem;
}
