.Sidebar {
  position: sticky;
  top: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 10%;
  overflow: auto;
  margin-right: calc(4rem - 0.2rem);
  height: calc(100vh - 1rem);
}

.SidebarLogo {
  width: 4rem;
  margin-left: -0.45rem;
}

.SidebarList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding: 0;
}

.SidebarListItem {
  font-size: 2rem;
  text-decoration: none;
}

.SidebarListItemActive {
  font-weight: bold;
}

.SidebarListItemLink {
  color: black;
  text-decoration: none;
}
