.MainSidebarProfile {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  gap: 1rem;
}

.MainSidebarProfilePicture {
  border: 2px solid black;
  width: 60px;
  height: 60px;
}

.MainSidebarProfileNameAndXP {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0.2rem 0 0.3rem 0;
  justify-content: space-between;
}

.MainSidebarProfileName {
  font-size: 1.2rem;
  font-weight: bold;
}
