.Feed {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 0.2rem;
  padding-bottom: 1rem;
}

.Feed::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 46rem) {
  .Feed {
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
    gap: 0.3rem;
  }
}

@media only screen and (min-width: 46rem) {
  .Feed {
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.FeedLoading {
  text-align: center;
  padding-block: 2em;
  padding-bottom: 50vh;
}

.FeedLoadingDot {
  animation: 1s infinite ease feed-loading-dot;
  opacity: 0;
}
.FeedLoadingDot + .FeedLoadingDot {
  animation-delay: 0.1s;
}
.FeedLoadingDot + .FeedLoadingDot + .FeedLoadingDot {
  animation-delay: 0.2s;
}

@keyframes feed-loading-dot {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
