.Feed {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: visible;
}

.Feed::-webkit-scrollbar {
  display: none;
}

.FeedLoading {
  text-align: center;
  padding-block: 2rem;
  padding-bottom: 50vh;
}

.FeedFinished {
  padding-bottom: 2rem;
}

.FeedLoadingDot {
  animation: 1s infinite ease feed-loading-dot;
  opacity: 0;
}
.FeedLoadingDot + .FeedLoadingDot {
  animation-delay: 0.1s;
}
.FeedLoadingDot + .FeedLoadingDot + .FeedLoadingDot {
  animation-delay: 0.2s;
}

@keyframes feed-loading-dot {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
