.NoResults {
  align-items: center;
}

.NoResultsText {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 300;
  color: #4e3629;
  text-align: center;
}

@media screen and (max-width: 46rem) {
  .NoResultsText {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}
