@use "./card.module.scss";

.AboutPagePost {
  @extend .DearBluenoCard;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.AboutPageSection {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.EmailLink {
  color: black;
  text-decoration: underline;
}

.EmailLink:hover {
  cursor: pointer;
}

.FAQQuestion {
  display: flex;
  user-select: none;
  align-items: center;
  gap: 0.3rem;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-weight: 500;
  cursor: pointer;
}

.FAQQuestion::after {
  color: rgba(0, 0, 0, 1);
  content: "›";
  font-size: 1.5rem;
  font-weight: 400;
  transform: translateY(-0.1rem);
  transition: transform 100ms;
  -webkit-transform-origin: 50% 55%;
  -moz-transform-origin: 50% 55%;
  -o-transform-origin: 50% 55%;
  transform-origin: 50% 55%;
  line-height: 1.3rem;
}

.is-open::after {
  transform: rotateZ(90deg);
}

.PrivPolicy {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.FAQAnswer {
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.AnonAnswer {
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
}

.AboutPageIcon {
  transform: translateY(0.1rem);
}
