.DearBluenoCard {
  border: 0.1rem solid black;
  background-color: #ffffff;
  box-sizing: border-box;
}

/* Mobile */
@media only screen and (max-width: 46rem) {
  .DearBluenoCard {
    animation: DearBluenoCardAppear1;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    padding: 0.5rem;
    width: calc(100% - 0.1rem);
    margin-left: 0.1rem;
  }
}

/* Larger than mobile */
@media only screen and (min-width: 46rem) {
  .DearBluenoCard {
    animation: DearBluenoCardAppear2;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    padding: 1rem;
    width: calc(100% - 0.2rem);
    margin-left: 0.2rem;
  }
}

@keyframes DearBluenoCardAppear1 {
  0% {
    opacity: 1;
    box-shadow: none;
    transform: translate3d(-0.1rem, 0.1rem, 0);
  }
  100% {
    opacity: 1;
    box-shadow: -0.1rem 0.1rem black;
    transform: none;
  }
}
@keyframes DearBluenoCardAppear2 {
  0% {
    opacity: 1;
    box-shadow: none;
    transform: translate3d(-0.2rem, 0.2rem, 0);
  }
  100% {
    opacity: 1;
    box-shadow: -0.2rem 0.2rem black;
    transform: none;
  }
}
