.ProfilePage {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  // overflow-y: scroll;
  // CAN CHANGE BACK
}

.ProfilePageStatus {
  align-self: center;
}

/* Mobile */
@media only screen and (max-width: 46rem) {
  .ProfilePageStatus {
    margin-top: 2rem;
  }
}

/* Larger than mobile */
@media only screen and (min-width: 46rem) {
  .ProfilePage {
    justify-content: center;
  }
}
