.SearchPage {
  display: flex;
  flex-direction: column;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.LoadingParent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoadingParent > .LoadingChild {
  width: 1rem;
  height: 1rem;
  animation: bounce 1s infinite;
  font-size: 4rem;
  margin-top: 0.5rem;
}

.LoadingParent > .LoadingChild2 {
  animation-delay: 0.2s;
}

.LoadingParent > .LoadingChild3 {
  animation-delay: 0.4s;
}

