.LoginPopupContent {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.LoginPopupButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
